In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data.csv')

In [4]:
data.dtypes

ReceiptNo       object
ProductCode     object
Description     object
Quantity         int64
ReceiptDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [5]:
data.head(2)

,ReceiptNo,ProductCode,Description,Quantity,ReceiptDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom

In [7]:
import sqlite3

In [8]:
print(f'Length of the dataset: {len(data)}')
print(f'Number of columns: {len(data.columns)}')

Length of the dataset: 541909
Number of columns: 8